@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.container{
    margin: 100px auto;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: rgb(227, 226, 226);
}

.img{
    margin: 0 auto;
    width: 20%;
    border-radius: 0%;
}

img{
    border-radius: 100%;
}

.form{
    width: 40%;
    margin: auto;
}

label{
    font-weight: bolder;
}

#name, #pwd{
    width: 80%;
    height: 30px;
    font-size: 1.1rem;
    padding-left: 3px;
}


#login{
    width: 81%;
    font-size: 1.2rem;
    background-color: rgb(11, 168, 11);
    height: 35px;
    margin: 0 0 10px 0;
    color: white;
    border-color: transparent;
}

#rme{
    margin: 0 0 15px 0;
}

.lol{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#cancel{
    width: 20%;
    height: 30px;
    background-color: rgb(249, 72, 72);
    color: white;
    border-color: transparent;
    border-radius: 5px;
}

#fpwd{
    
}